## Data structures in python
**In built data types**
- integer
- string
- Bool
- float
- complex # 1+2j

**Collection data types in python**
- List
- Tuple
- Dictionary
- Set

In [3]:
a = 1 # int
b = 'Hello' # string
c = True # bool
d = 1.25 # float
e = 3+2j # complex

hello world

### String
- imutable

In [6]:
x = 'hello, How are You?'

In [7]:
# make first letter capital
x.capitalize()

'Hello, how are you?'

In [9]:
# return index of substring
x.index('are')

11

In [10]:
x[11:]

'are you?'

In [11]:
# removes the blank space from both sides
x.strip()

'Hello, how are you?'

In [14]:
x[4:10]

'o, how'

## List
- mutable
- ordered

In [12]:
l = [10, 20, 30, 'hello', 3.24]

In [15]:
l[0]

10

In [16]:
l[:4]

[10, 20, 30, 'hello']

In [17]:
l.append('world')

In [20]:
l.insert(1,100)
l

[10, 100, 100, 20, 30, 'hello', 3.24, 'world']

In [21]:
l.pop()

'world'

### Tuple
- imutable
- ordered

In [22]:
a = (10, 20, 30, 'hello', 3.24)

In [25]:
a.count(10)

1

In [26]:
a.index(30)

2

In [27]:
try:
    a[0] = 50
except Exception as e:
    print('Error: ',e)

Error:  'tuple' object does not support item assignment

In [28]:
a[:-2]

(10, 20, 30)

### Dictionary
- key:value pair
- mutable

In [29]:
d = {'name':'spidy', 'position':'data scientist', 'company':'abc'}

In [30]:
d.keys()

dict_keys(['name', 'position', 'company'])

In [31]:
d.values()

dict_values(['spidy', 'data scientist', 'abc'])

In [32]:
d['name']

'spidy'

In [33]:
d['position']

'data scientist'

In [34]:
for i in d.items():
    print(i)

('name', 'spidy')
('position', 'data scientist')
('company', 'abc')

### Set
- unordered
- sorted

In [35]:
s = {1, 5, 2, 10, 9, 8}

In [36]:
s

{1, 2, 5, 8, 9, 10}

In [39]:
s.add(11)
s

{1, 2, 5, 8, 9, 10, 11}

In [40]:
# removes 1st item
s.pop()

1

In [41]:
s

{2, 5, 8, 9, 10, 11}

## Casting
- Implicit casting :- happen automatic in python
- Explicit casting :- have to mention the data type heare

In [1]:
# implicit casting
2 * 1.5 # int is converted automaticaly to float

3.0

In [2]:
# explicit casting
float_val = 3.14
int_val = int(float_val)
int_val # float converted to int

3

In [3]:
# explicit casting
tup = (1, 2, 3, 4)
lis = list(tup)
lis

[1, 2, 3, 4]

## String formatting

In [4]:
a = 5
b = 3
s = a+b

In [5]:
# .format method
m = "First number is {}, second number is {}, and the sum is {}".format(a,b,s)
print(m)

First number is 5, second number is 3, and the sum is 8

In [7]:
# fstring method
m = f"First number is {a}, second number is {b}, and the sum is {s}"
print(m)

First number is 5, second number is 3, and the sum is 8

## Functions

In [8]:
def add_numbers(a,b):
    result = a+b
    return result

In [9]:
add_numbers(10,12)

22

## Modules in python (.py)

In [17]:
# import the custome module
import my_module

In [18]:
my_module.greet('spidy')

Hey!! Welcome to the class spidy.

In [19]:
my_module.age

35

## Classes in python

In [20]:
class MyClass:
    # class variable
    my_name = 'Spidy'

    # constructor
    def __init__(self, name1, name2):
        # instance variable
        self.name1 = name1
        self.name2 = name2

    # instance variable
    def return_names(self):
        print(f'name1: {self.name1}')
        print(f'name2: {self.name2}')

In [21]:
# object
obj = MyClass('Spidy', 'Iron man')

In [22]:
obj.return_names()

name1: Spidy
name2: Iron man

In [24]:
obj.my_name

'Spidy'

## File handling
- objfile = open(filename, mode)
- once open the file close it
- objfile.close()

In [26]:
example_text = ''''Hello, 
    This file is created using python write text mode.
        close the file after opening.
'''

In [27]:
# wt - write text (create if not present and overwrite if present)
fileobj = open('example.txt', 'wt')
fileobj.write(example_text)
fileobj.close()

In [31]:
# rt-  read the file
read_file = open('example.txt','rt')
data = read_file.read()
read_file.close()

In [32]:
print(data)

'Hello,
    This file is created using python write text mode.
        close the file after opening.